/* .progress-some{
    background: gray;
    height: 20px;
    width: 200px;
}
.progress-new{
    background: #1c7a09;
    height: 20px;
    width: 80%;

}
.language {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    color: #1c1c1c;
    text-decoration: capitalize;
} */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

} */
/* body{
    background-color: #333;
} */
.inner{
    padding-top: 20px;
}
.header{
    text-align :center;
    color: #fff;
    padding: 0rem;
    /* position: relative; */
}
.containers{
    display: grid;
    grid-template-columns: repeat(4,0.1fr);
    justify-content: center;
    align-items: center;
    grid-gap:1rem;
    padding: 1rem, 80px;
    font-size: 1.2rem;
}
/* .skill-box{
    padding-top: 1rem;
    padding: 2rem;
    color: #ddd;
    cursor:pointer;

} */
/* .skill-title{
    display: flex;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    padding:0.5rem ;
    margin-bottom: 0rem;
} */
/* .img{
    width: 90px; 
    height: 1px; 
    position: absolute;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .skill-icon{
    width: 80px;
    z-index: 2;
    height: 50px;
} */
 h3{
margin:0.2rem;
/* padding-top: 0.5px; */
color:black;
/* font-size: 1rem; */
}