.company-name{
    color: #1c1c1c;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: 800;
    /* text-decoration: underline; */
}
.description-position{
    color: #1c1c1c;
}
.workdone{
    color: black;
     font-size: 1rem;
}
h{
    color: darkslateblue;
    text-decoration: underline;
}